.grid-example {
    border-left: 1px solid #eee;
    margin-bottom: -22px;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    max-height: 50px;
    background-color: #61AA25;
    color: white;
    padding: 0;
}

.color {
    background-color: #61AA25;
    margin-bottom: -20px;
}
.row {
    margin-bottom: 15px;
}
