<div class="container" *ngFor="let hour of workingHours"> 
  <div class="row">
        <div class="col s4 m1 hour-col"><span class="flow-text">{{hour.hour}}</span></div>
        <div class="col l8 grid-example color" *ngIf="hour.reserved">Room {{hour.room}} (floor {{hour.floor}})</div>
        <div class="col l8 grid-example" *ngIf="!hour.reserved"></div>
        <div class="waves-effect waves-light btn" (click)="deleteReservations(hour.id)" *ngIf="hour.reserved && isStartReservation(hour.id)">X</div>
  </div>
</div>