.col.grid-example {
    border: 1px solid #eee;
    margin: 7px 0;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    background-color: #61AA25;
    color: white;
    padding: 0;
}
  
  
.col.grid-example {
    border: 1px solid #eee;
    margin: 7px 0;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    background-color: #61AA25;
    color: white;
    padding: 0;
}

.color {
    background-color: #61AA25;
    min-height: 53px;
}