<app-nav-bar></app-nav-bar>
<div class="row" id="container">
						
  <div class="col s12 m4 l4" id="rooms">
  <div id="berlin">
    <div id="layer1">
    <h5>Berlin</h5>
    <h5> Type <i class="material-icons">personal_video</i> </h5>
    <h5>40 <i class="material-icons">group</i></h5>
    </div>
  </div>
  </div>
  
  <div class="col s12 m4 l4" id="rooms">
  <div id="paris">
    <div id="layer1">
    <h5>Paris</h5>
    <h5>Type <i class="material-icons">add_location</i></h5> 
    <h5>30 <i class="material-icons">group</i></h5>
    </div>
  </div>
  </div>



<div class="col s12 m4 l4" id="rooms">
  <div id="copenhagen">
    <div id="layer1">
    <h5>Copenhagen</h5>
    <h5>Type <i class="material-icons">work</i></h5>
    <h5>60 <i class="material-icons">group</i></h5>
    </div>
  </div>
</div>

<div class="col s12 m4 l4" id="rooms">
  <div id="copenhagen">
    <div id="layer1">
    <h5>Bucharest</h5>
    <h5>Type <i class="material-icons">personal_video</i></h5>
    <h5>30 <i class="material-icons">group</i></h5>
    </div>
  </div>
</div>

<div class="col s12 m4 l4" id="rooms">
  <div id="kiev" >
  <div id="layer1">
    <h5>Kiev</h5>
    <h5>Type <i class="material-icons">add_location</i></h5>
    <h5>30 <i class="material-icons">group</i></h5>
  </div>
  </div>
</div>

<div class="col s12 m4 l4" id="rooms">
  <div id="stockholm">
  <div id="layer1">
    <h5>Stockholm</h5>
    <h5>Type <i class="material-icons">work</i></h5>
    <h5>60 <i class="material-icons">group</i></h5>
  </div>
  </div>
</div>
</div>