<nav>
  <div class="nav-wrapper">
    <a routerLink="/manage-reservations" class="brand-logo left  ">
      <img src="../../assets/img/birdBanner.png">
    </a>
    <ul id="nav-mobile" class="right ">
      <li class="active">
        <a routerLink="/make-reservations">Make Reservation</a>
      </li>
      <li>
        <a routerLink="/user-reservations">See Reservation</a>
      </li>
      <li>
        <a routerLinkActive="active-link" class="hide-on-med-and-down">Logout</a>
      </li>
    </ul>
  </div>
</nav>
