<nav>
  <div class="nav-wrapper">
    <a routerLink="/manage-reservations" class="brand-logo left  ">
      <img src="../../assets/img/birdBanner.png">
    </a>
    <ul id="nav-mobile" class="right ">
      <li routerLink="/make-reservations"  routerLinkActive="active">
        <a  >Make Reservation</a>
      </li>
      <li routerLink="/user-reservations"  routerLinkActive="active" >
        <a >See Reservation</a>
      </li>
      <li>
        <a  class="hide-on-med-and-down" (click)="logOut()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
