html, body{
   height: 100%;
}
* {
  box-sizing: border-box;
}

/* sets global color palette 
   #A6E275 light
   #7EC146
   #61AA25
   #2E6500 dark
*/

nav, button  {
  background-color:#61AA25 !important;
}

.btn:hover {
  background-color:rgba(125, 193, 70, 0.555) !important;
}
